<!DOCTYPE html>
<html lang="en">

<!-- The scrollable area -->
<body>
	<!-- Section 1 -->
	<div id="home" class="container-fluid" style="background:transparent url('test.jpg')no-repeat center center ;background-size: cover;background-position: center;">
  <p class="landingPagePar">Exactly What you Need</p>
	  <h1 class="title">Welcome to Sahem</h1>
	  <br><br>
	  <!-- search engine code from https://bootsnipp.com/snippets/featured/stylish-input-using-icon-font -->
	  <div class="row">
	          <div class="col-sm-6 col-sm-offset-3">
	              <div id="imaginary_container"> 
	                  <div class="input-group stylish-input-group">
	                      <input type="text" class="form-control"  placeholder="Search an Item" >
	                      <span class="input-group-addon">
	                          <button type="submit">
	                              <span class="glyphicon glyphicon-search"></span>
	                          </button>  
	                      </span>
	                  </div>
	              </div>
	          </div>
	  	</div>

<div class="carousel-caption">
	<h5 class="title">...or</h5>
	<%= link_to new_item_url do %><button class="btn">Lend an Item</button> <% end %> &nbsp;&nbsp;
			
		
</div>
	  
	</div>
	
    <div class="row" id="about">
      <div class="col-lg-12 text-center">
		<br>
        <h2 class="whatissahem">What is Sahem</h2>
	    <hr class="hr1">
		<br>
   		<p class="landingPagePar2">Sahem facilitates borrowing and lending items in Qatar. If you have stuff you don't need and can use the money or if you need to borrow items for a short time, this is the website for you!</p>
      </div>
    </div>
	
	

	          <div class="row">
	            <div class="col-lg-12 text-center">
					<br><br>
	              <h2 class="section-heading">We Value</h2>
				   <hr class="hr2">
	         
	            </div>
	          </div>
	     
	        <div class="container">
				<br>
	          <div class="row">
	            <div class="col-lg-4 col-md-6 text-center">
	              <div class="service-box">
	                <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
	                <h3>Experience Surpasses Owning</h3>
	                <p class="text-muted">Have access to high quality stuff you can’t afford.</p>
	              </div>
	            </div>
			
				          <div class="col-lg-4 col-md-6 text-center">
				            <div class="service-box">			
				              <i class="fa fa fa-4x fa-money text-primary sr-icons"></i>
				              <h3>Customer Satisfaction</h3>
				              <p class="text-muted">Save money by borrowing stuff you don’t need, and earn money from stuff you don’t often use.</p>		  
				            </div>
				          </div>
				          <div class="col-lg-4 col-md-6 text-center">
				            <div class="service-box">
    						<i class="fa fa fa-4x fa-leaf text-primary sr-icons"></i>				  
							<h3>Going Green</h3>
				              <p class="text-muted">Borrowing instead of buying means stopping unnecessary mass-manufacturing.<br><br><br><br></p>
				            </div>
				          </div>
			</div>
		</div>

    <div class="row" id="contact">
      <div class="col-lg-12 text-center">
		  <br><br>
        <h2 class="section-heading">Get in Touch</h2>
		<p class="contactPar" >Sahem is committed to exceeding your needs. Questions, comments or special requests? We’d love to hear from you, so don’t hesitate to reach out today.</p>
		<br>
      </div>
	  
	  <section id="contact" class="content-section text-center">
	          <div class="contact-section">
	              <div class="container">        
	                <div class="row">
	                  <div class="col-md-8 col-md-offset-2">
	                    <form class="form-horizontal">
	                      <div class="form-group">
	                        <input type="text" class="form-control" id="InputName" placeholder="Enter Name Here">
	                      </div>
	                      <div class="form-group">
	                        <input type="email" class="form-control" id="InputEmail" placeholder="Enter E-mail Here">
	                      </div>
	                      <div class="form-group ">
	                       <textarea  class="form-control" placeholder="Description"></textarea> 
	                      </div>
						  <br>
	                      <button type="submit" class="btn">Send Message</button>
						  <br><br><br><br>
	                    </form>

                  
	                  </div>
	                </div>
	              </div>
	          </div>
	        </section>



  	          
	
	
	
  
	
	
</body>
</html>
